*{margin: 0px; padding: 0px;}

header span img {
    margin-left: 5vw;
    position: absolute;
   
}

header section {
    display: flex;
    justify-content: space-between;

    background-color: #3a3a3a;
    color: whitesmoke;
   
}

header section article:nth-child(1) {
    display: flex;
    width: 25vw;
    background-color: rgb(77, 201, 20);
    justify-content: space-around;
    
}

header section article:nth-child(2) {
    display: flex;
    background-color: rgb(201, 20, 35);
    justify-content: space-around;
    width: 45vw;
    
}

h1{
font-size:calc(2vw + 22px);
}

header section article:nth-child(3) {
    display: flex;
    justify-content: space-around;
    width: 10vw;
    background-color: rgb(20, 98, 201);
  
    
}

.logo{
    min-width:30px ;
    min-height: 30px;
}


nav {
    display: flex;
    justify-content: end;
    background-color: #C4C4C4;
}

ul {
    display: flex;
    list-style: none;
    
    width: 80vw;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
   

}
